<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">


    <!-- Déclaration des servlets -->
    <servlet>
        <servlet-name>MainServlet</servlet-name>
        <servlet-class>fr.tbmc.servlets.MainServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>BoardList</servlet-name>
        <servlet-class>fr.tbmc.servlets.boards.BoardList</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>CreateBoard</servlet-name>
        <servlet-class>fr.tbmc.servlets.boards.CreateBoard</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>JoinBoard</servlet-name>
        <servlet-class>fr.tbmc.servlets.users.JoinBoard</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ListUsers</servlet-name>
        <servlet-class>fr.tbmc.servlets.users.ListUsers</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>DoChange</servlet-name>
        <servlet-class>fr.tbmc.servlets.canvas.DoChange</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>GetChange</servlet-name>
        <servlet-class>fr.tbmc.servlets.canvas.GetChange</servlet-class>
    </servlet>





    <!-- Mapping -->
    <servlet-mapping>
        <servlet-name>MainServlet</servlet-name>
        <url-pattern>/main</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>BoardList</servlet-name>
        <url-pattern>/api/board-list</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>CreateBoard</servlet-name>
        <url-pattern>/api/board-create</url-pattern>
        <url-pattern>/api/board-exists</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>JoinBoard</servlet-name>
        <url-pattern>/api/join-board</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ListUsers</servlet-name>
        <url-pattern>/api/list-users</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>DoChange</servlet-name>
        <url-pattern>/api/do-change</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetChange</servlet-name>
        <url-pattern>/api/get-changes</url-pattern>
    </servlet-mapping>


    <listener>
        <description>Session listener for timeout</description>
        <listener-class>fr.tbmc.session.SessionListener</listener-class>
    </listener>

</web-app>